<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doctor Profile</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'styles/doctor-profile.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/alert.css' %}" />
  </head>
  <nav>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'doctors' %}">Doctors</a></li>
        <li><a href="{% url 'blogs' %}">Blogs</a></li>
          {% if request.user.is_authenticated %}
            <li><a href="{% url 'account' %}" >Account</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
            <li><a href="{% url 'patient-signup' %}">Signup</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
          {% endif %}
        <li><a></a></li>
      </ul>
    </nav>
  <body>
  {% include 'messages.html' %}
    <div class="container">
      <!-- Section 1 -->
      <section class="section-1 center" id="section-1">
        <img src="{{doctor.doc_image.url}}" alt="" class="person-img" />
        <h3 class="person-name">{{doctor.name}}</h3>
        <a href="" class="section-1-btn">Get An Appointment</a>
      </section>
      <!-- End of Section 1 -->

      <!-- Section 2 -->
      <section class="section-2" id="section-2">
        <h1 class="section-heading section-2-heading">About Doctor</h1>
        <div class="progress-bars-wrapper">
          <ul>
            <li>
              <div class="progress-bar">
                <p class="progress-text">
                  Specialization: {{doctor.specialization}}
                </p>
                <div class="progress-percent"></div>
              </div>
            </li>
            <li>
              <div class="progress-bar">
                {% for deg in doctor.degree_set.all %}
                <p class="progress-text">
                  {{deg.name}}, {{deg.institute}}
                </p>
                {% endfor %}
                <div class="progress-percent"></div>
              </div>
            </li>
            <li>
              <div class="progress-bar">
                <p class="progress-text">
                  Contact Number: {{doctor.phone}}
                </p>
                <div class="progress-percent"></div>
              </div>
            </li>
            <li>
              <div class="progress-bar">
                <p class="progress-text">
                  Chamber Address: {{doctor.c_address}}
                </p>
                <div class="progress-percent"></div>
              </div>
            </li>
            <li>
              <div class="progress-bar">
                <p class="progress-text">
                  Fees: {{doctor.fees_new}} (New), {{doctor.fees_old}} (Old), {{doctor.fees_report}} (Report).
                </p>
                <div class="progress-percent"></div>
              </div>
            </li>
          </ul>
      </section>
      <!-- End of Section 2 -->

<!--      &lt;!&ndash; Section 3 &ndash;&gt;-->
<!--      <section class="section-3" id="section-3">-->
<!--        <h1 class="section-heading section-3-heading">My Medical Videos</h1>-->
<!--        <div class="projects-wrapper center">-->
<!--          <div class="project">-->
<!--            <div class="project-text">-->
<!--              <h2 class="project-name">Immunology</h2>-->
<!--              <h4 class="project-technologies">Dr. Zabir Raihan</h4>-->
<!--            </div>-->
<!--            <img src="images/project-1.jpg" class="project-img" />-->
<!--            <a-->
<!--              href="https://www.youtube.com/watch?v=GNUPmbCR3hE"-->
<!--              class="project-link"-->
<!--              target="_blank"-->
<!--              >Go to Video</a-->
<!--            >-->
<!--          </div>-->
<!--          <div class="project">-->
<!--            <div class="project-text">-->
<!--              <h2 class="project-name">Inside surgery room</h2>-->
<!--              <h4 class="project-technologies">Dr. Zabir Raihan</h4>-->
<!--            </div>-->
<!--            <img src="images/project-2.jpg" class="project-img" />-->
<!--            <a-->
<!--              href="https://www.youtube.com/watch?v=k9QAyP3bYmc"-->
<!--              class="project-link"-->
<!--              target="_blank"-->
<!--              >Go to Video</a-->
<!--            >-->
<!--          </div>-->
<!--          <div class="project">-->
<!--            <div class="project-text">-->
<!--              <h2 class="project-name">Immune System</h2>-->
<!--              <h4 class="project-technologies">Dr. Zabir Raihan</h4>-->
<!--            </div>-->
<!--            <img src="images/project-3.jpg" class="project-img" />-->
<!--            <a-->
<!--              href="https://www.youtube.com/watch?v=k9QAyP3bYmc"-->
<!--              class="project-link"-->
<!--              target="_blank"-->
<!--              >Go to Video</a-->
<!--            >-->
<!--          </div>-->
<!--          <div class="project">-->
<!--            <div class="project-text">-->
<!--              <h2 class="project-name">The Oesophagus</h2>-->
<!--              <h4 class="project-technologies">Dr. Zabir Raihan</h4>-->
<!--            </div>-->
<!--            <img src="images/project-4.jpg" class="project-img" />-->
<!--            <a-->
<!--              href="https://www.youtube.com/watch?v=k9QAyP3bYmc"-->
<!--              class="project-link"-->
<!--              target="_blank"-->
<!--              >Go to Video</a-->
<!--            >-->
<!--          </div>-->
<!--          <div class="project">-->
<!--            <div class="project-text">-->
<!--              <h2 class="project-name">esophogeal Surgery</h2>-->
<!--              <h4 class="project-technologies">Dr. Zabir Raihan</h4>-->
<!--            </div>-->
<!--            <img src="images/project-5.jpg.png" class="project-img" />-->
<!--            <a-->
<!--              href="https://www.youtube.com/watch?v=k9QAyP3bYmc"-->
<!--              class="project-link"-->
<!--              target="_blank"-->
<!--              >Go to Video</a-->
<!--            >-->
<!--          </div>-->
<!--          <div class="project">-->
<!--            <div class="project-text">-->
<!--              <h2 class="project-name">Thoracoscopic</h2>-->
<!--              <h4 class="project-technologies">Dr. Zabir Raihan</h4>-->
<!--            </div>-->
<!--            <img src="images/project-6.jpg.png" class="project-img" />-->
<!--            <a-->
<!--              href="https://www.youtube.com/watch?v=YSqjYDQd0dk"-->
<!--              class="project-link"-->
<!--              target="_blank"-->
<!--              >Go to Video</a-->
<!--            >-->
<!--          </div>-->



<!--      </section>-->
<!--      &lt;!&ndash; End of Section 3 &ndash;&gt;-->

<!--      &lt;!&ndash; Section 4 &ndash;&gt;-->
<!--      <section class="section-4" id="section-4">-->
<!--        <h1 class="section-heading section-4-heading">Get An Appoinment</h1>-->
<!--        <form class="contact-form center">-->
<!--          <input type="text" placeholder="Name" />-->
<!--          <input type="email" placeholder="Email" />-->
<!--          <textarea placeholder="Message"></textarea>-->
<!--          <input type="submit" value="Submit" class="contact-form-btn" />-->
<!--        </form>-->
<!--      </section>-->
<!--      &lt;!&ndash; End of Section 4 &ndash;&gt;-->

      <!-- Section 5 -->
      <footer class="section-5 center">

        <p class="copyright">
          Copyright &copy; DocTalk. All Rights Reserved
        </p>
      </footer>
      <!-- End of Section 5 -->
    </div>

<!--    <script src="{% static 'js/doctor-profile.js' %}"></script>-->
  <script src="{% static 'js/alert.js' %}"></script>
  </body>
</html>
