<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'styles/doctor-signup.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}" />
    <title>Doctor Signup</title>
  </head>
  <nav>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'doctors' %}">Doctors</a></li>
        <li><a href="{% url 'blogs' %}">Blogs</a></li>
          {% if request.user.is_authenticated %}
            <li><a href="{% url 'account' %}">Account</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
            <li><a href="{% url 'patient-signup' %}" class="active">Signup</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
          {% endif %}
        <li><a></a></li>
      </ul>
    </nav>
  <body>
    <div class="article" style="padding: 100px 400px;">
       <div class="gap"></div>
      <div class="container">
        <form method="POST" action="{% url 'doctor-signup' %}" id="form" class="form">
          {% csrf_token %}
          <h2>Doctor Registration</h2>
          {% for field in form %}
          <div class="form-control">
            <label>{{field.label}}</label>
            {{field}}
            {% for error in field.errors %}
              <p style="color:red;"> {{error}} </p>
            {% endfor %}
          </div>
          {% endfor %}
          <button type="submit">Register</button>
          <p style="padding-top:10px;" >Already have an account? <a href="{% url 'login' %}" style="color: #008080; font-size: 18px; font-weight: bold; text-decoration: none;">Login</a></p>
        </form>
      </div>
    </div>

<!--    <script src="{% static 'js/alert.js' %}"></script>-->
  </body>
</html>