<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patient Profile</title>
    <link rel="stylesheet" href="{% static 'styles/doctor-profile.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/alert.css' %}" />
  </head>
  <nav>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'doctors' %}">Doctors</a></li>
        <li><a href="{% url 'blogs' %}">Blogs</a></li>
          {% if request.user.is_authenticated %}
            <li><a href="{% url 'account' %}">Account</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
            <li><a href="{% url 'patient-signup' %}">Signup</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
          {% endif %}
        <li><a></a></li>
      </ul>
    </nav>
  <body>
  {% include 'messages.html' %}
    <div class="container">
      <!-- Section 1 -->
      <section class="section-1 center" id="section-1">
        <img src="{{patient.patient_image.url}}" alt="" class="person-img" />
        <h3 class="person-name">{{patient.name}}</h3>
      </section>
      <!-- End of Section 1 -->

      <!-- Section 2 -->
      <section class="section-2" id="section-2">
        <h1 class="section-heading section-2-heading">About Patient</h1>
        <div class="progress-bars-wrapper">
          <ul>
            <li>
              <div class="progress-bar">
                <p class="progress-text">
                  Contact Number: {{patient.phone}}
                </p>
                <div class="progress-percent"></div>
              </div>
            </li>
             <li>
              <div class="progress-bar">
                <p class="progress-text">
                  Age: {{age}} years
                </p>
                <div class="progress-percent"></div>
              </div>
            </li>
            <li>
              <div class="progress-bar">
                <p class="progress-text">
                  Gender: {{patient.gender}}
                </p>
                <div class="progress-percent"></div>
              </div>
            </li>
            <li>
              <div class="progress-bar">
                <p class="progress-text">
                  Height: {{patient.feet}} ft {{patient.inch}} inch
                </p>
                <div class="progress-percent"></div>
              </div>
            </li>
            <li>
              <div class="progress-bar">
                <p class="progress-text">
                  Weight: {{patient.weight}} kgs
                </p>
                <div class="progress-percent"></div>
              </div>
            </li>
             <li>
              <div class="progress-bar">
                <p class="progress-text">
                  Asthma: {% if patient.asthma %} Yes {% else %} No {% endif %}
                </p>
                <div class="progress-percent"></div>
              </div>
            </li>
            <li>
              <div class="progress-bar">
                <p class="progress-text">
                  Diabetic: {% if patient.is_diabetic %} Yes {% else %} No {% endif %}
                </p>
                {% if patient.is_diabetic %}
                  <p class="progress-text">
                    Blood Sugar: {{patient.bs_before}} (Before Meal), {{patient.bs_after}} (After Meal)
                  </p>
                {% endif %}
                <div class="progress-percent"></div>
              </div>
            </li>
            <li>
              <div class="progress-bar">
                <p class="progress-text">
                  Allergies:
                  {% for allergy in patient.allergic.all %}
                    {{allergy.name}} &nbsp;
                  {% endfor %}
                </p>
                <div class="progress-percent"></div>
              </div>
            </li>
            <li>
              <div class="progress-bar">
                <p class="progress-text">
                  Blood Pressure: {{patient.systole}} / {{patient.diastole}}
                </p>
                <div class="progress-percent"></div>
              </div>
            </li>
          </ul>
      </section>
      <!-- End of Section 2 -->

      <!-- Section 5 -->
      <footer class="section-5 center">

        <p class="copyright">
          Copyright &copy; DocTalk. All Rights Reserved
        </p>
      </footer>
      <!-- End of Section 5 -->
    </div>

<!--    <script src="{% static 'js/doctor-profile.js' %}"></script>-->
  <script src="{% static 'js/alert.js' %}"></script>
  </body>
</html>
